{% extends "simple.html" %}
{% block title %}Details{% endblock %}
{% block sitescript %} 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/gmaps.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/examples.css" />    
    <script type="text/javascript">
    var map;
    $(document).ready(function(){
      map = new GMaps({
        el: '#map',
        lat: -12.043333,
        lng: -77.028333
      });
      map.addMarker({
        lat: -12.042,
        lng: -77.028333,
        title: 'Selected Charge Station',
        infoWindow: {
          content: '<p>Charge Station Details</p>'
        }
	  });	
    });
  </script>
{% endblock %}
{% block content %}
{% if user.is_anonymous %}
    <p>Please login first</p>
        <a data-role="button" href="{% url 'login' %}">Log In</a>
{% else %}
    <div class="span11">
      <div id="map"></div>
    </div>	
	<form action="/reserve/" method="GET">
        <div data-role="fieldcontain">
            <label for="textarea">Charge station one</label>
	    <p>This station charges $1 per hour. The likely hood of availability is 80%</p>
	</div>
	
		<div >
				<a data-role="button" href="../notify" data-rel="dialog">Select</a>
				<a data-role="button" href="../choices">Go Back</a>
        </div>
    </form>
{% endif %}
{% endblock %}
