{% extends "simple.html" %}
{% block title %}Charge Station Search{% endblock %}
{% block content %}
{% if user.is_anonymous %}
    <p>Obviously you love this site, why don't you log in and stay a while?</p>
        <a data-role="button" href="{% url 'login' %}">Log In</a>
{% else %}
    <p>Please tell us where and when do you want to charge your EV</p>
    <script>
        function validateForm()
        {
            var x=document.forms["searchForm"]["location"].value;
            if (x==null || x=="")
            {
                alert("Location must be filled out");
                return false;
            }
            return true;
        }

    </script>
    <form name="searchForm" action="/choices/" method="GET" onsubmit="return validateForm();">
        <div data-role="fieldcontain">
            <label for="location">Location</label>
            <input type="search" name="location" id="location" placeholder="e.g. Sunnyvale farmers market"></input>
	</div>
	<div data-role="fieldcontain">
	    <label for="datetime-3">Date and Time</label>
    	    <input type="datetime-local" data-clear-btn="false" name="datetime-3" id="datetime-3" value="">
            
	</div>
	
        <div data-role="fieldcontain">
            <label for="location"> </label>
            <input type="submit" id="submitButton" value="Search">
        </div>
    </form>
{% endif %}
{% endblock %}
