{% extends "simple.html" %}
{% block title %}Charge Station Search{% endblock %}
{% block content %}
{% if user.is_anonymous %}
    <p>Obviously you love this site, why don't you log in and stay a while?</p>
        <a data-role="button" href="{% url 'login' %}">Log In</a>
{% else %}
    <p>Please tell us when and where do you want to park your EV</p>
    <form action="/choices/" method="GET">
        <div data-role="fieldcontain">
            <label for="textarea">Location</label>
            <input type="search" name="textarea" id="textarea" placeholder="e.g. Sunnyvale farmers market"></input>
	</div>
	<div data-role="fieldcontain">
	    <label for="datetime-3">Date and Time</label>
    	    <input type="datetime-local" data-clear-btn="false" name="datetime-3" id="datetime-3" value="">
            
	</div>
	
        <div data-role="fieldcontain">
            <label for="textarea"> </label>
            <input type="submit" id="submitButton" value="Search">
        </div>
    </form>
{% endif %}
{% endblock %}
