{% extends "simple.html" %}
{% block title %}Notification{% endblock %}
{% block content %}
{% if user.is_anonymous %}
	<p>Please login first.</p>
        <a data-role="button" href="{% url 'login' %}">Log In</a>
{% else %}
    <p>How would you like us to inform you in case when the charge station becomes unavailable?</p>
    <form action="/done/" method="GET">
	<div data-role="navbar">
		<ul>
			<li><a href="../donetext">Text</a></li>
			<li><a href="../donecall">Call</a></li>
			<li><a href="../donenone" class="ui-btn-active ui-state-persist" >No, thx</a></li>
		</ul>
	</div><!-- /navbar -->
   
    </form>
{% endif %}
{% endblock %}
